html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.windows-fill {
  min-height: 100%;
  height: 100%;
}

.header-row {
  min-height: 50px;
  height: 5%;
}

.graphiql-row {
  min-height: 95%;
  height: 95%;
}

.graphiql-logo-link {
  display: none;
}
